# Gradle files
.gradle/
build/
*/build/

# IDE files
.idea/
*.iml
*.iws

# Local configuration file (secrets)
local.properties
secring.gpg
gen-key-script
*.gpg
*.asc
PUBLISHED
*.key
*-bundle.zip
# OS-specific files
.DS_Store
Thumbs.db
